/* Room Page Premium */
.room-container {
  padding: 15px;
}

.room-card img {
  width: 100%;
  border-radius: 10px;
}

.gallery {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.gallery img {
  width: 30%;
  border-radius: 8px;
}

.price {
  font-size: 20px;
  color: green;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

button {
  background: #ff6600;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 5px;
}
